.logos img{
    position:absolute;
    height:280px;
    z-index: 1;
}

.logo1{
    top: 2080px;
    right: 50px;
}

.logo2{
    top: 2735px;
    left: 50px;
}
.logo3{
    top: 5700px;
    right: 50px;
}
.logo4{
    top: 7550px;
    left: 50px;
}