.menuNavContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  width: 100%;
  height: 900px;
  background-image: url("../assets/barbackground.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.menuNavContainer h2 {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px;
}
.menuSubtitle {
  color: #fff;
  margin: 0 0 15px 0;
}
.menuContent h2 {
  color: #dcca87;
  margin: 0 0 25px 0;
}

.linear4 {
  height: 2px;
  width: 60px;
  background-image: linear-gradient(
    to left,
    rgba(220, 202, 135, 1),
    rgba(220, 202, 135, 0.24),
    rgba(220, 202, 135, 1)
  );
  margin: 0 0 15px 0;
}
.menuDetails {
  display: flex;
  width: 1300px;
  height: 660px;
  align-items: center;
  justify-content: center;
}
.menuDetails img {
  width: 450px;
}
.firstMenu,
.secondMenu {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.firstMenu h3,
.secondMenu h3 {
  color: #fff;
  margin: 30px 0 70px 0;
  text-align: center;
}
.firstMenu p,
.secondMenu p {
  color: #aaa;
}

#a {
  color: #dcca87;
}
#b {
  color: #fff;
}
.menuItem {
  display: grid;
  height: 60px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5fr 3fr 1fr;
  align-items: center;
  margin-bottom: 38px;
}
.menuItemName {
  color: #dcca87;
  grid-row: 1/2;
  grid-column: 1/2;
  margin: 0;
}
.menuItemLine {
  width: 120px;
  height: 1px;
  background-color: #fafafa;
  grid-row: 1/2;
  grid-column: 2/3;
}
.menuItemPrice {
  color: #fff;
  grid-row: 1/2;
  grid-column: 3/4;
  margin: 0;
}
.menuItemDescription {
  margin: 0;
  margin-top: 5px;
  grid-row: 2/3;
  grid-column: 1/2;
}
