.navContainer {
  padding: 45px 128px 25px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navContainer img {
  width: 135px;
}
.navList {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.navContainer p{
  cursor: pointer;
}
